* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.visible {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.slider {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    height: 200px;
}
.slider__item {
    float: left;
    height: 200px;
    width: 300px;
    border: 2px solid black;
    background-color: #eee;
}

